@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  body {
    @apply bg-light text-dark-secondary dark:bg-dark dark:text-light-secondary;
  }

  h1,
  h2 {
    @apply font-extrabold text-black dark:text-white;
  }

  h1 {
    @apply text-4xl sm:text-5xl;
  }

  h2 {
    @apply text-3xl sm:text-4xl;
  }

  h3,
  h4,
  h5,
  h6 {
    @apply leading-tight font-bold text-black dark:text-white;
  }

  h3 {
    @apply text-2xl sm:text-3xl;
  }

  h4 {
    @apply text-xl sm:text-2xl;
  }

  h5 {
    @apply text-lg sm:text-xl;
  }

  h6 {
    @apply text-base sm:text-lg;
  }

  a {
    @apply inline-block font-semibold select-none hover:text-black dark:hover:text-white;
  }

  input[type="text"],
  input[type="email"],
  input[type="number"],
  input[type="password"],
  input[type="search"],
  input[type="tel"],
  input[type="url"] {
    @apply rounded border-2 border-dark-secondary px-3 py-2 outline-none placeholder:text-dark-secondary/50 hover:border-brand-dark focus:border-brand-dark;
  }

  input[type="checkbox"] {
    @apply h-4 w-4 cursor-pointer appearance-none rounded border border-dark-secondary accent-brand-dark select-none checked:border-0 checked:border-brand-dark checked:bg-brand-dark hover:border-2 hover:border-brand-dark;
  }
}

@layer components {
  .button {
    @apply flex h-fit w-fit items-center gap-2 rounded-md px-3 py-2;
  }

  .buttonPrimary {
    @apply bg-brand-dark text-light hover:bg-brand-dark/90 hover:text-white dark:bg-brand/90 dark:text-dark dark:hover:bg-brand dark:hover:text-black;
  }

  .buttonSecondary {
    @apply border border-brand-dark text-brand-dark hover:bg-brand-dark hover:text-white dark:border-brand dark:text-brand dark:hover:bg-brand dark:hover:text-black;
  }

  .buttonIcon {
    @apply text-black dark:text-white;
  }

  .checkInput {
    @apply flex items-center gap-1 px-3 py-2;
  }

  .checkLeading {
    @apply flex w-full justify-between px-3 py-2;
  }

  .checkBox {
    @apply relative flex items-center justify-center;
  }

  .checkIcon {
    @apply pointer-events-none absolute h-full w-full text-white opacity-0;
  }

  .textError {
    @apply leading-none text-red-500;
  }

  .textDisabled {
    @apply text-dark-secondary/50;
  }
}

@layer utilities {
}

@theme {
  /* LIGHT */
  --color-light: #f5f5f5;
  --color-light-primary: #d6d6d6;
  --color-light-secondary: #b8b8b8;

  /* DARK */
  --color-dark: #0a0a0a;
  --color-dark-primary: #292929;
  --color-dark-secondary: #474747;

  /* BRAND LIGHT */
  --color-brand-comp: #ff8585;
  --color-brand-triadic-d: #ff85ff;
  --color-brand-tetradic-d: #c285ff;
  --color-brand-analogous-d: #85c2ff;
  --color-brand: #85ffff;
  --color-brand-monoc: #52ffff;
  --color-brand-analogous-l: #85ffc2;
  --color-brand-tetradic-l: #c2ff85;
  --color-brand-triadic-l: #ffff85;

  /* BRAND DARK */
  --color-brand-dark-comp: #ffff47;
  --color-brand-dark-triadic-d: #ff47a3;
  --color-brand-dark-tetradic-d: #ff4747;
  --color-brand-dark-analogous-d: #a347ff;
  --color-brand-dark: #4747ff;
  --color-brand-dark-mono: #1414ff;
  --color-brand-dark-analogous-l: #47a3ff;
  --color-brand-dark-tetradic-l: #47ff47;
  --color-brand-dark-triadic-l: #47ffa3;
}
